<main>
    <div class="row">
      
      <div class="col-md-7" id="left">
        <div class="container">
          <header>
            <h3>
              <a routerLink="#">
                <img src="" alt="sojibooks">
              </a>
            </h3>
          </header>
          <section id="tag">
            <h3>Welcome to SojiBooks</h3>
            <p class="mt-4"><span>OVER 1</span> million users in nigeria</p>
            <p><span>50</span> million users accross africa</p>
          </section>
        </div>
      </div>
  
      <div class="col-md-5" id="right">
        <div class="container">
          <section>
              <h4 class="text-center text-info">Sign Up</h4>
              <hr/>
              <form>
                <input type="text" placeholder="First Name" class="form-control">
                <input type="text" placeholder="Last Name" class="form-control">
                <input type="text" placeholder="Company Name" class="form-control">
                <textarea class="form-control" placeholder="Address"></textarea>
                <input type="email" placeholder="Email address" class="form-control">
                <input type="password" placeholder="Password" class="form-control">
                <button type="button" class="btn btn-info btn-block">Get Started</button>
              </form>
              <p class="text-center" id="p">already have an account?<a routerLink="/login"> login here</a></p>
          </section>
        </div>
      </div>
   
    </div>
  </main>

<!--
<main>
    <div class="row">
      
      <div class="col-md-12">
        <div class="container">
          <section>
              <header>
                <a routerLink="#">
                  <img src="" alt="sb-logo">
                </a>
              </header>
      
              <h4 class="text-center text-info">Sign Up</h4>
              <hr/>
              <form>
                <input type="text" placeholder="First Name" class="form-control">
                <input type="text" placeholder="Last Name" class="form-control">
                <input type="text" placeholder="Company Name" class="form-control">
                <textarea class="form-control" placeholder="Address"></textarea>
                <input type="email" placeholder="Email address" class="form-control">
                <input type="password" placeholder="Password" class="form-control">
                <button type="button" class="btn btn-info btn-block">Get Started</button>
              </form>
              <p class="text-center" id="p">already have an account?<a routerLink="/login"> login here</a></p>
          </section>
        </div>
      </div>
   
    </div>
</main>
-->