<main>
    <div class="row">
      
      <div class="col-md-12">
        <div class="container">
          <section>
              <header>
                <a routerLink="#">
                  <img src="" alt="sb-logo">
                </a>
              </header>
      
              <h4 class="text-center text-info">Sign Up</h4>
              <hr/>
              <form>
                <input type="text" placeholder="First Name" class="form-control">
                <input type="text" placeholder="Last Name" class="form-control">
                <input type="text" placeholder="Company Name" class="form-control">
                <textarea class="form-control" placeholder="Address"></textarea>
                <input type="email" placeholder="Email address" class="form-control">
                <input type="password" placeholder="Password" class="form-control">
                <button type="button" class="btn btn-info btn-block">Get Started</button>
              </form>
              <p class="text-center" id="p">already have an account?<a routerLink="/login"> login here</a></p>
          </section>
        </div>
      </div>
   
    </div>
</main>