<nav>
    <ul>
      <li>
        <a routerLink="" id="logo" alt="logo">
          <img src="https://res.cloudinary.com/sastech/image/upload/v1531915608/sb_fgkbsn.png" width="80" height="80">
        </a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link">
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/workers" routerLinkActive="active-link">
          <i class="material-icons">work</i>
          Workers
        </a>
      </li>
      <li>
        <a routerLink="/customers" routerLinkActive="active-link">
          <i class="material-icons">people</i>
          Customer Mgt.
        </a>
      </li>
      <li>
        <a routerLink="/vendors" routerLinkActive="active-link">
          <i class="material-icons">build</i>
          Vendor Mgt.
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active-link">
          <i class="material-icons">supervised_user_circle</i>
          User Mgt.
        </a>
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active-link">
          <i class="material-icons">assessment</i>
          Reports
        </a>
      </li>
      <li>
        <a routerLink="/plans-and-pricing" routerLinkActive="active-link">
          <i class="material-icons">money</i>
          Plans & Pricing
        </a>
      </li>
      <li>
        <a routerLink="/how-it-works" routerLinkActive="active-link">
          <i class="material-icons">help</i>
          How It Works
        </a>
      </li>
    </ul>
  </nav>