nav {
    background: #1a1a1a;
    height: 100%;
    position: fixed;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #555;
            border-bottom-width: -5px;

            a {
                font-size: medium;
                color: #c0c0c0;
                padding: 15px;
                display: block;
                text-decoration: none;

                #logo-img {
                    width: 100px;
                    height: 50px;
                }

                &:hover {
                    background: #1d6d40;
                }

                i {
                    vertical-align: middle;
                }

            }

            #logo {
                background: #1d6d40;
                border: 1px solid #000;
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: larger;
                font-weight: bold;
                text-shadow: 0 5px 10px #555;
            }

        }
    }

}