<div class="row">
  <div class="col-md-2">
      <div id="sidebar-wrapper">
          <ul>
              <li>
                <a routerLink="" id="logo">
                  <i>
                    SojiBooks
                  </i>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard" routerLinkActive="active-link">
                  <i class="material-icons">dashboard</i>
                  Dashboard
                </a>
              </li>
              <li>
                <a routerLink="/workers" routerLinkActive="active-link">
                  <i class="material-icons">work</i>
                  Workers
                </a>
              </li>
              <li>
                <a routerLink="/customers" routerLinkActive="active-link">
                  <i class="material-icons">people</i>
                  Customer Mgt.
                </a>
              </li>
              <li>
                <a routerLink="/vendors" routerLinkActive="active-link">
                  <i class="material-icons">build</i>
                  Vendor Mgt.
                </a>
              </li>
              <li>
                <a routerLink="/users" routerLinkActive="active-link">
                  <i class="material-icons">supervised_user_circle</i>
                  User Mgt.
                </a>
              </li>
              <li>
                <a routerLink="/reports" routerLinkActive="active-link">
                  <i class="material-icons">assessment</i>
                  Reports
                </a>
              </li>
              <li>
                <a routerLink="settings" routerLinkActive="active-link">
                  <i class="material-icons">settings</i>
                  Settings
                </a>
              </li>
            </ul>
          </div>
          <!-- /#sidebar-wrapper -->
  </div>

       <div class="col-md-10">
          <main>
              <div class="container">
                  <h5>Customers</h5>
                  <hr>
                  <div class="jumbotron">
                    <img src='assets/img/customers.jpg' style="float:left;" alt="customers">
                    <h4 class="text-success">123 Customers & Counting!</h4>
                  </div>
                  <div class="card-body">
                    <table class="table table-sm">
                        <thead class="bg-info">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Number</th>
                            <th scope="col">Occupation</th>
                            <th scope="col">Years</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John Wick</td>
                            <td>john@wick.com</td>
                            <td>12345</td>
                            <td>Doctor</td>
                            <td>01/02/03 - Present</td>
                            <td>Active</td>
                            <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jane Wick</td>
                            <td>jane@wick.com</td>
                            <td>12345</td>
                            <td>Software Developer</td>
                            <td>01/02/03 - Present</td>
                            <td>Active</td>
                            <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>John Doe</td>
                            <td>jdoe@wick.com</td>
                            <td>12345</td>
                            <td>Chef</td>
                            <td>01/02/03 - 04/05/06</td>
                            <td>Inactive</td>
                            <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
                </div>
          </main>
       </div>
</div>