<div class="body">
    <app-nav></app-nav>
  
    <div id="main">
      <div class="pricing-switcher">
          <p class="fieldset">
            <input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
            <label for="monthly-1">Monthly</label>
            <input type="radio" name="duration-1" value="yearly" id="yearly-1">
            <label for="yearly-1">Yearly</label>
            <span class="switch"></span>
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <header class="pricing-header">
                    <h2>Pro</h2>
                    <div class="text-center">
                      <span class="currency">₦</span>
                      <span class="value">1000</span>
                      <span class="duration">mo</span>
                    </div>
                  </header>
                  <div class="pricing-body">
                    <ul class="pricing-features">
                      <li><em>20</em> Email Accounts</li>
                      <li><em>5</em> Template Styles</li>
                      <li><em>50</em> Products Loaded</li>
                      <li><em>10</em> Images per Product</li>
                      <li><em>Unlimited</em> Bandwidth</li>
                      <li><em>24/7</em> Support</li>
                    </ul>
                  </div>
                  <footer class="pricing-footer">
                    <a class="btn btn-info">Sign Up</a>
                  </footer>
            </div>
          </div><!--col-->
          <div class="col-md-4">
            <div class="card">
                <header class="pricing-header">
                    <h2>Pro</h2>
                    <div class="text-center">
                      <span class="currency">₦</span>
                      <span class="value">1000</span>
                      <span class="duration">mo</span>
                    </div>
                  </header>
                  <div class="pricing-body">
                    <ul class="pricing-features">
                      <li><em>20</em> Email Accounts</li>
                      <li><em>5</em> Template Styles</li>
                      <li><em>50</em> Products Loaded</li>
                      <li><em>10</em> Images per Product</li>
                      <li><em>Unlimited</em> Bandwidth</li>
                      <li><em>24/7</em> Support</li>
                    </ul>
                  </div>
                  <footer class="pricing-footer">
                    <a class="btn btn-info">Sign Up</a>
                  </footer>
            </div>
          </div><!--col-->
          <div class="col-md-4">
            <div class="card">
                <header class="pricing-header">
                    <h2>Pro</h2>
                    <div class="text-center">
                      <span class="currency">₦</span>
                      <span class="value">1000</span>
                      <span class="duration">mo</span>
                    </div>
                  </header>
                  <div class="pricing-body">
                    <ul class="pricing-features">
                      <li><em>20</em> Email Accounts</li>
                      <li><em>5</em> Template Styles</li>
                      <li><em>50</em> Products Loaded</li>
                      <li><em>10</em> Images per Product</li>
                      <li><em>Unlimited</em> Bandwidth</li>
                      <li><em>24/7</em> Support</li>
                    </ul>
                  </div>
                  <footer class="pricing-footer">
                    <a class="btn btn-info">Sign Up</a>
                  </footer>
            </div>
          </div><!--col-->
        </div>
    </div><!--#main-->
  </div><!--.body-->