#main {
    margin: 30px 0;

    .jumbotron {
        margin: -1em 0.5em 1em 0.5em;
        background: url(/assets/img/comp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        box-shadow: 5px 5px 5px darkslategray;
        
        h3 {
            margin-top: -20px;
            font-weight: bold;
            color: #fff;
            text-shadow: #000 0 0 10px;
        }
        a {
            background: #5f9ea0;
            color: #fff;
            padding: 5px 20px;
            font-size: bold;
            text-decoration: none;

            &:hover {
                transform: scale(1.1);
                font-weight: bolder;
            }
        }
    }

    .pricing-switcher {
        text-align: center;
    }
    
    .pricing-switcher .fieldset {
        display: inline-block;
        position: relative;
        padding: 1px;
        border-radius: 50em;
        border: 2px solid #2d3e50;
    }
    
    .pricing-switcher input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
    
    .pricing-switcher label {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 90px;
        height: 25px;
        line-height: 30px;
        cursor: pointer;
        font-size: 1rem;
        color: #1a1a1a;
    }
    
    .pricing-switcher .switch {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 30px;
        width: 90px;
        background-color: cadetblue;
        border-radius: 50em;
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        transition: transform 0.5s;
    }
    
    .pricing-switcher input[type="radio"]:checked + label + .switch,
    .pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
        -webkit-transform: translateX(90px);
        -moz-transform: translateX(90px);
        -ms-transform: translateX(90px);
        -o-transform: translateX(90px);
        transform: translateX(90px);
    }
    
    .no-js .pricing-switcher {
        display: none;
    }
}
.card {
    height: 100%;
    margin: 0 1em;

    .head {
        margin: 1em auto;
    }
    header h4, h5 {
        color: #fff;
    }
    .pricing-body {

        .pricing-features {
            margin: 2em auto;
        }

        ul,
        ol {
            list-style-type: none;

            li {
                margin: 0.5em auto;
            }
        }
        hr {
            margin: -1px auto;
            background: #c0c0c0;
            width: 70%;
        }
    }

}