#sidebar-wrapper {
    position: fixed;
    width: auto;
    height: 100%;
    background: #2d2e2e;
    box-shadow: #2d2e2e 1px 1px 1px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 15px;
                display: block;
                text-decoration: none;

                &:hover {
                    background: #1d6d40;
                }

            }

            #logo {
                background: #1d6d40;
                border: 1px solid #000;
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: larger;
                font-weight: bold;
                text-shadow: 0 5px 10px #555;
            }
        }
    }
}
main {
    margin: 30px 30px 0 -30px;
    
    .container {
        height: 100%;

        h5 {
            font-weight: bold;
            margin-top: 1.5em;
        }
        hr {
            background: #F2C94C;
        }
        
        #top {
            .col-md-4 {
                div {
                    border: 1px solid lightgray;
                    padding: 2em 0 3em 1em;
                    box-shadow: gray 1px 1px 1px;

                }
            }
        }

        #bottom {
            background: #fff;
            margin-top: 3em;
            padding: 0 10px;

            table {
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
            }
        }
    }
}