<div class="body">
  <app-nav></app-nav>

  <div id="main">
    <div class="row">
      <div class="col-md-12">
        <main>
          
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="top-sect bg-info">
                      <span><i class="fa fa-users fa-2x"></i></span>
                      <span class="text-center"> 123<br/>Employees</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="top-sect bg-success">
                        <span><i class="fa fa-handshake-o fa-2x"></i></span>
                        <span class="text-center"> 456<br/>Contractors</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="top-sect bg-secondary">
                        <span><i class="fa fa-coffee fa-2x"></i></span>
                        <span class="text-center"> 789<br/>Freelancers</span>
                    </div>
                  </div>
                </div>
              
                <div class="row">
                  <div class="col-md-12">
                      <div class="card top">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Employees
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <div class="text-right" style="margin-bottom: 1em;">
                              <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
                            </div>    
                              <table class="table table-sm">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Number</th>
                                  <th scope="col">Gender</th>
                                  <th scope="col">Role</th>
                                  <th scope="col">Hired</th>
                                  <th scope="col">Social</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Sadiq</td>
                                  <td>sadiq@company.com</td>
                                  <td>12345</td>
                                  <td>M</td>
                                  <td>Bootstrap Alhaji</td>
                                  <td>June 2018</td>
                                  <td><a><i class="fa fa-twitter"></i></a></td>
                                  <td>
                                    <a><i class="fa fa-pencil"></i></a>
                                    <span style="padding: 0 5px;"></span>
                                    <a><i class="fa fa-trash"></i></a>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Sas</td>
                                  <td>sas@company.com</td>
                                  <td>12345</td>
                                  <td>M</td>
                                  <td>Angular maestro in-view</td>
                                  <td>June 2018</td>
                                  <td><a><i class="fa fa-twitter 1x"></i></a></td>
                                  <td>
                                    <a><i class="fa fa-pencil"></i></a>
                                    <span style="padding: 0 5px;"></span>
                                    <a><i class="fa fa-trash"></i></a>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Jane Doe</td>
                                  <td>jane@company.com</td>
                                  <td>12345</td>
                                  <td>F</td>
                                  <td>Hajia Overlord</td>
                                  <td>June 2018</td>
                                  <td><a><i class="material-icons"></i></a></td>
                                  <td>
                                    <a><i class="fa fa-pencil"></i></a>
                                    <span style="padding: 0 5px;"></span>
                                    <a><i class="fa fa-trash"></i></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Contractors
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <div class="text-right" style="margin-bottom: 1em;">
                                <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
                            </div>
                            <table class="table table-sm">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Number</th>
                                  <th scope="col">Role</th>
                                  <th scope="col">Hired</th>
                                  <th scope="col">Status</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>John Wick</td>
                                  <td>john@wick.com</td>
                                  <td>12345</td>
                                  <td>Doing cool stuff</td>
                                  <td>01/02/03</td>
                                  <td>Active</td>
                                  <td>
                                    <a><i class="fa fa-pencil"></i></a>
                                    <span style="padding: 0 5px;"></span>
                                    <a><i class="fa fa-trash"></i></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
              </div>
        </main>
      </div>
    </div>
    
  </div><!--#main-->  

</div><!--body-->