main {
    margin-top: 30px;
    
    .container {
        .top-sect {
            background: #000;
            padding: 0.5em;
            text-align: center;
            color: #fff;

            &:hover {
                cursor: wait;
            }
        }

        .top {
            margin-top: 1em;
        }
        a {
            &:hover {
                cursor: pointer;
            }
        }
        table {
            border-bottom: 1px solid darkslategray;
        }
    }
}