<main>
  <div class="container">
      <div id="section">
        <div class="row">
          <div class="col-md-6" id="left">
            <div class="container">
              <h4>SojiBooks</h4>
              <p style="padding-top:5em;"><span>OVER 1</span> million users in nigeria</p>
              <p><span>50</span> million users accross africa</p>
              <div class="text-center">SignUp Today!</div>
              <div class="hr-sect">OTHER PRODUCTS</div>
            </div>
          </div>
          <div class="col-md-6" id="right">
            <div class="container">
              <h4>Sign Up</h4>
              <hr/>
              <form>
                <input type="text" placeholder="First Name" class="form-control">
                <input type="text" placeholder="Last Name" class="form-control">
                <input type="text" placeholder="Company Name" class="form-control">
                <textarea class="form-control"></textarea>
                <input type="email" placeholder="Email address" class="form-control">
                <input type="password" placeholder="Password" class="form-control">
                <button type="button" class="btn btn-warning">Get Started</button>
              </form>
              <div class="text-center" style="padding-top: 1em;">Already have an account?
                  <a routerLink="/">Sign In</a>
              </div>          
            </div>
          </div>
        </div>
      </div><!--section-->
    </div>
</main>