<div class="body">
  <app-nav></app-nav>

  <div id="main">
    <section class="container">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Account Settings</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Plan</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Invoice</a>
        </div>
      </nav>          
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <section class="tab-section">
            <div id="acc-settings">
              <h6>GENERAL</h6>

                <!-- row one -->
                <div class="row">
                  <div class="col-md-6">
                    <p>Company Name</p>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="company-name" class="form-control" placeholder="Enter new name">
                    <input type="text" name="company-name" class="form-control" placeholder="Repeat name">
                  </div>
                </div>

                <!-- row two -->
                <div class="row">
                  <div class="col-md-6">
                    <p>Address</p>
                  </div>
                  <div class="col-md-6">
                    <textarea class="form-control" placeholder="Enter new address"></textarea>
                  </div>
                </div>

              </div>

            <div>
              <h6>NOTIFICATION</h6>

                <!-- row one -->
                <div class="row">
                  <div class="col-md-6">
                    <p>Enter Email for Notification</p>
                  </div>
                  <div class="col-md-6">
                    <input type="email" name="mail" class="form-control" placeholder="Enter email address">
                  </div>
                </div>

              </div>

            <div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="javascript:void(0)" class="bn btn-default text-center text-danger" data-toggle="modal" data-target="#myModal">Delete Account</a>
                </div>
              </div>

            </div>              

            <button class="btn btn-success">Update</button>            
          </section>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <section class="tab-section">
            <div class="text-center" id="plan-tab">
              <p>
                You are on the free plan.<br/>
                You have limited access. Upgrade your plan to have full access.
              </p>
              <a routerLink="/plans-and-pricing" class="btn btn-success">Upgrade</a>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <section class="tab-section">
            <div class="text-center">
              <div class="inv-top-card">
                <i class="fa fa-paper"></i>
                <h5>
                  There are no invoices yet<br/>
                  <i class="fa fa-file-o fa-2x"></i>
                </h5>
              </div>
              <div class="inv-bottom-card">
                <p>Change Invoice Template</p>
                <img src="./assets/img/invoice1.jpg" alt="inv-temp">
                <img src="./assets/img/invoice1.jpg" alt="inv-temp">
                <img src="./assets/img/invoice1.jpg" alt="inv-temp">
              </div>
            </div>
            <button class="btn btn-success">Update</button>                          
          </section>
        </div>
      </div>

    </section>
  </div>
</div>        

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Account</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete your account?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>