#main {
    margin-top: 30px;
    font-family: 'Josefin Sans';

    section {
        .tab-content {
            background: #fff;
        }
        .tab-section {
            height: 32em;
            padding: 2em;

            h6 {
                font-weight: bold;
            }
            .form-control {
                margin-bottom: 0.5em;
            }

            .row {
                margin-bottom: 2em;
                border-bottom: 1px solid #c0c0c0;

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .btn {
            border: none;
            border-radius: 5px;
            box-shadow: 1px 0 1px #000;
        }
        #plan-tab {
            padding-top: 13%;
        }
    }
}