<div class="body">
  <app-nav></app-nav>

  <div id="main">
    <section class="container text-center">
      <div class="box">
        <div class="card">
          <a class="btn btn-default" onclick="myFunction()">
            <i class="fa fa-pencil"></i> Change company name
          </a>

          <div id="hidden-div" class="text-center">
            <input type="text" name="name" id="company-name" class="form-control" placeholder="Enter new name"/>
            <span>
              <button type="button" class="btn btn-success">Save</button>
            </span>
          </div> 
          <hr>
          <a class="btn btn-default" onclick="maFunction()">
            <i class="fa fa-pencil"></i> Change address
          </a>

          <div id="hidden-div2" class="text-center">
            <input type="text" name="name" id="company-name" class="form-control" placeholder="Enter new address"/>
            <span>
              <button type="button" class="btn btn-success">Save</button>
            </span>
          </div>
        </div>

        <div class="card">
          <div>
            <a class="btn btn-default text-info" routerLink="" data-toggle="modal" data-target="#tempModal">
              <i class="fa fa-copy"></i>
              Select Invoice template
            </a>
          </div>
        </div>

        <div class="card">
          <div>
            <a class="btn btn-default text-danger" routerLink="" data-toggle="modal" data-target="#delModal">
              <i class="fa fa-trash"></i>
              Delete company profile
            </a>
          </div>
        </div>
        <button type="button" class="btn btn-block">Save all changes</button>
      </div>
    </section>
  </div>
</div>        

<!-- modal -->
<div class="modal fade" id="tempModal" tabindex="-1" role="dialog" aria-labelledby="tempModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tempModalLabel">Select template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <span class="inv-card"><a routerLink="#"><img src="/assets/img/invoice1.jpg"></a></span>
            <span class="inv-card"><a routerLink="#"><img src="/assets/img/invoice1.jpg"></a></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Select</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal-->

  <!--second modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tempModalLabel">Delete for real?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <h5>Chill chill, you sure you wanna do this?</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Yup Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal-->