main {
    height: 100%;

    .container {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    
        .jumbotron {
            margin-top: 10px;
            background: #1d6d40;
            text-align: center;
            
            h3 {
                margin-top: -20px;
                font-weight: bold;
                color: #fff;
            }
            #section {
                margin-top: 20px;
    
                a {
                    background-color: aquamarine;
                    color: #4f4f4f;
                    padding: 5px 20px;
                    font-size: bold;
                    text-decoration: none;
    
                    &:hover {
                        text-shadow: #F2C94C 0 0 10px;
                    }
                }
            }
    
        }
    
        .card {
            box-shadow: #555 2px 3px 5px;
            height: 200%;
            margin-top: 15px;

            h4, h5 {
                font-weight: bold;
            }
            h4 {
                text-shadow: 1px 1px 10px #000;
            }    
            .top {
                background: #2F3032;
                color: #fff;
                text-align: center;
                padding: 1em;
            }
            .bottom {
                margin-top: 1em;
                color: #2F3032;
            }
            .btn {
                position: absolute;
                bottom: 0px;
                
                button {
                    background: #2F3032;
                    color: #fff;
                    border: none;
                    box-shadow: 1px 1px 5px #000;
    
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        } 
    }
}