<nav>
  <ul>
    <li>
      <a routerLink="" id="logo">
        <i>
          SojiBooks
        </i>
      </a>
    </li>
    <li>
      <a routerLink="">
        <i class="material-icons">dashboard</i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/workers" routerLinkActive="active-link">
        <i class="material-icons">work</i>
        Workers
      </a>
    </li>
    <li>
      <a routerLink="/customers" routerLinkActive="active-link">
        <i class="material-icons">people</i>
        Customer Mgt.
      </a>
    </li>
    <li>
      <a routerLink="/vendors" routerLinkActive="active-link">
        <i class="material-icons">build</i>
        Vendor Mgt.
      </a>
    </li>
    <li>
      <a routerLink="users" routerLinkActive="active-link">
        <i class="material-icons">supervised_user_circle</i>
        User Mgt.
      </a>
    </li>
    <li>
      <a routerLink="reports" routerLinkActive="active-link">
        <i class="material-icons">assessment</i>
        Reports
      </a>
    </li>
    <li>
      <a routerLink="settings" routerLinkActive="active-link">
        <i class="material-icons">settings</i>
        Settings
      </a>
    </li>
  </ul>
</nav>