nav {
    background: #2d2e2e;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 15px;
                display: block;
                text-decoration: none;

                &:hover {
                    background: #F2C94C;
                }

            }

            #logo {
                background: #F2C94C;
                border: 1px solid yellow;
                text-align: center;
                color: #2d2e2e;
                text-decoration: none;
                font-size: larger;
                font-weight: bold;
                text-shadow: 0 5px 10px #555;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }

}