body {
    padding: 0;
    width: 100%;
    margin: 0;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.active-link {
    background: #000;
    border-left: 2px solid #F2C94C;
}
#container {
    #content {
        overflow: hidden;
    }
}
/*
#container {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100%;

    #content {
        padding: 30px 10px;

        ul {
            list-style-type: none;
            margin: 0;padding: 0;

            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;

                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00a8ff;
                }

                ul {
                    margin-top: 20px;

                    li {
                        padding: 0;

                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
*/