main {
    top: 30px;
    
    .container {
        h5 {
            font-weight: bold;
            margin-top: 1.5em;
        }
        hr {
            background: #1d6d40;
        }
        table {
            border: 1px solid lightgrey;
        }
    }
}