<div class="body">
    <app-nav></app-nav>
  
    <div id="main">
        <div class="row">
          <div class="col-md-12">
            <main>
              <div class="container">
                  <h5>Users
                      <a routerLink="" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Add User</a>
                  </h5>
                  <hr style="border-width: 5px;">
                  <table class="table table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number</th>
                        <th scope="col">User Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Years</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>John Doe</td>
                        <td>jdoe@company.com</td>
                        <td>12345</td>
                        <td>Accountant</td>
                        <td>Active</td>
                        <td>2018</td>
                        <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jane Doe</td>
                        <td>jdoe@company.com</td>
                        <td>12345</td>
                        <td>Accountant</td>
                        <td>Pending</td>
                        <td>2018</td>
                        <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div><!--container-->
            </main>
          </div>
        </div>
    </div><!--#main-->
  </div><!--.body-->