<div class="body">
    <app-nav></app-nav>
  
    <div id="main">
        <div class="row">          
            <div class="col-md-12">
              <main>
                  <div class="container">
                      <h5>Customers</h5>
                      <hr>
                      <div class="card">
                        <div class="text-right" style="margin-bottom: 1em;">
                            <a href="javascript:void(0)" class="btn btn-success" style="display:none;" id="update-btn">Update</a>&nbsp;
                            <a href="javascript:void(0)" class="btn btn-default" onclick="addRow()"><i class="fa fa-plus"></i> Add New</a>
                        </div>                        
                        <table class="table table-hover" id="data">
                            <thead class="bg-light">
                              <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Subscription</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">01</th>
                                <td>Sadiq A.S</td>
                                <td>sadiqasg@gmail.com</td>
                                <td>07012345678</td>
                                <td>Active</td>
                                <td>
                                  <a class="btn btn-light">Edit </a>
                                  <a class="btn btn-danger">Delete</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">02</th>
                                <td>Jane Doe</td>
                                <td>sadiqasg@gmail.com</td>
                                <td>07012345678</td>
                                <td style="color:#c0c0c0;">Inactive</td>
                                <td>
                                  <a class="btn btn-light">Edit </a>
                                  <a class="btn btn-danger">Delete</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">03</th>
                                <td>Sadiq A.S</td>
                                <td>sadiqasg@gmail.com</td>
                                <td>07012345678</td>
                                <td>Active</td>
                                <td>
                                  <a class="btn btn-light">Edit </a>
                                  <a class="btn btn-danger">Delete</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">04</th>
                                <td>Sadiq A.S</td>
                                <td>sadiqasg@gmail.com</td>
                                <td>07012345678</td>
                                <td>Active</td>
                                <td>
                                  <a class="btn btn-light">Edit </a>
                                  <a class="btn btn-danger">Delete</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">05</th>
                                <td>Sadiq A.S</td>
                                <td>sadiqasg@gmail.com</td>
                                <td>07012345678</td>
                                <td>Active</td>
                                <td>
                                  <a class="btn btn-light">Edit </a>
                                  <a class="btn btn-danger">Delete</a>
                                </td>
                              </tr>                                                            
                            </tbody>
                          </table>
                      </div>
                    </div>
              </main>
            </div>
          </div>
    </div><!--#main-->
  </div><!--.body-->