<div class="body">
    <app-nav></app-nav>
  
    <div id="main">
        <div class="row">          
            <div class="col-md-12">
              <main>
                  <div class="container">
                      <h5>Customers</h5>
                      <hr>
                      <div class="jumbotron" 
                      style="background-image:url(assets/img/customers.jpg);background-size:cover;">
                        <h4 class="text-success">123 Customers & Counting!</h4>
                      </div>
                      <div class="card-body">
                        <div class="text-right" style="margin-bottom: 1em;">
                            <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
                        </div>                        
                        <table class="table table-sm table-hover">
                            <thead class="bg-info">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Number</th>
                                <th scope="col">Occupation</th>
                                <th scope="col">Years</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>John Wick</td>
                                <td>john@wick.com</td>
                                <td>12345</td>
                                <td>Doctor</td>
                                <td>01/02/03 - Present</td>
                                <td>Active</td>
                                <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jane Wick</td>
                                <td>jane@wick.com</td>
                                <td>12345</td>
                                <td>Software Developer</td>
                                <td>01/02/03 - Present</td>
                                <td>Active</td>
                                <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>John Doe</td>
                                <td>jdoe@wick.com</td>
                                <td>12345</td>
                                <td>Chef</td>
                                <td>01/02/03 - 04/05/06</td>
                                <td>Inactive</td>
                                <td><a>Edit <i class="fa fa-pencil"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
              </main>
            </div>
          </div>
    </div><!--#main-->
  </div><!--.body-->