main {
    top: 30px;

    .container {
        h5 {
            font-weight: bold;
            margin-top: 1.5em;
        }
        hr {
            border-width: 5px;
            background: #1d6d40;
        }
        .jumbotron {
            background-repeat: no-repeat;
            background-size: 100%;
            text-align: center;
            font-weight: bolder;
            box-shadow: lightgray 0 0 10px;
        }
        .card {
            padding: 2em;
    
            table {
                border-bottom: 1px solid #c0c0c0;
                border-left: 1px solid #c0c0c0;
                border-right: 1px solid #c0c0c0;
            }
            .btn-default {
                border: 1px solid #c0c0c0;
                border-radius: 5px;
                box-shadow: 1px 1px 1px #000;
            }
        }
    }
}